<div class="container">
  <div class="card bg-black text-white">
     <div class="card-title card-header ap-bold-text"><h2 class="text-center">My identity card</h2></div>

     <div class="container">

        <div class="card-body row ap-ID-align-center">
           <div class="col-12 col-md-8">
              <div class="row">
                 <img src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e002111/GSFC_20171208_Archive_e002111~orig.jpg" alt="Soleil" height="200" class ="col-12 col-md-6 col-lg-5"/>

                 <div class="col 12 col-mg-6">
                    <ul class="ap-space-between-li ap-li-no-bullets">
                       <li class="ap-bold-text">Name : Sun</li>
                       <li>Age : 4.6 billion years</li>
                       <li>Galaxy : Milky way</li>
                    </ul>
                 </div>
              </div>
              <div>
                 <ul class="ap-space-between-li ap-li-no-bullets">
                    <li>radius : 696,392 km</li>
                    <li>radius : 1.41×10<sup>18</sup> km<sup>3</sup></li>
                    <li>Mass : 1.9885×10<sup>30</sup> kg</li>
                    <li>Spectral classification : G2V (Yellow sun)</li>
                 </ul>
              </div>
           </div>


           <div class="col-12 col-md-4 ap-align-IDCard">
              <h4 class="ap-bold-text">Composition :</h4>
              <ul class="ap-space-between-li ap-li-no-bullets">
                 <li>Hydrogen 73.46%</li>
                 <li>Helium 24.85%</li>
                 <li>Oxygen 0.77%</li>
                 <li>Carbon	0.29%</li>
                 <li>Iron	0.16%</li>
                 <li>Neon	0.12%</li>
                 <li>Nitrogen	0.09%</li>
                 <li>Silicon	0.07%</li>
                 <li>Magnesium	0.05%</li>
              </ul>
           </div>
        </div>
    </div>
 </div>
</div>
