.bg-black
{
    background-color : black;
}

.card 
{
    border : 1px solid #c0914f;
}

.card-header
{
    border-bottom : 1px solid #c0914f;
}
 
 .ap-align-IDCard {
    text-align: center;
 }
 
 .ap-space-between-li li {
    margin-top: 8px;
 }
 
 .ap-li-no-bullets {
    list-style: none;
 }
 
 .card .ap-bold-text {
    font-weight: bold;
 }
 
 @media only screen and (max-width: 980px) {
    .ap-ID-title {
       position : inherit!important;
    }
 }
 