<!-- FOOTER -->
<footer class="mt-3 sticky-bottom">
	<section id="footer">

		<!-- SOCIAL NETWORKING -->
		<section id="social-networking">
			<div class="container">	
				<div class="row p-0">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2">
						<ul class="list-unstyled list-inline social text-center">
							<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
							<li class="list-inline-item"><a href="https://www.facebook.com/NASA/"><i class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="https://twitter.com/nasa"><i class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="https://www.instagram.com/nasa/"><i class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item"><a href="https://plus.google.com/+NASA"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>	
			</div>
		</section>

	


<!-- LINKS & LEGAL MENTIONS --> <!-- LOGO NASA FOOTER -->

	<section id="links-legal-mentions">
		<div class="container">	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">

					<div>
						<a href="https://api.nasa.gov/index.html" target="_blank"><img id="footer" class="mb-1" src="https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg" alt="NASA"></a>
						<p>based on Nasa APIs</p>
						<p>Sun Weather Project <a href ="https://wildcodeschool.fr/" target="_blank">WCS</a></p>

  						<!-- COPYRIGHT & LinkedIn LINKS -->					
						<p> All Rights Reserved</p>
					
						<a href="https://www.linkedin.com/in/aymeric-post/" target="_blank"><i class="fab fa-linkedin"></i> Aymeric Post  </a>
						<a href="https://www.linkedin.com/in/clement-godard/" target="_blank"><i class="fab fa-linkedin"></i> Clément Godard  </a>
						<a href="https://www.linkedin.com/in/karinemalghem/" target="_blank"><i class="fab fa-linkedin"></i> Karine Malghem  </a>
						<a href="https://www.linkedin.com/in/domaradzki-sébastien/" target="_blank"><i class="fab fa-linkedin"></i> Sébastien Domaradzki  </a>
					</div>
				</div>
			</div>	
		</div>
	</section>
</section>
</footer>
