<div class="container-fluid px-0 mb-2">
  <nav class="navbar navbar-expand-sm bg-black pl-0 pr-0 pt-0 pb-0">
    <img routerLink="" class="pl-0 col-1 d-none d-md-none d-lg-block" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001661/GSFC_20171208_Archive_e001661~small.jpg"  alt="">
<!-- menu grand ecran Start desktop -->
    <ul class="navbar-nav justify-content-center col-6 col-md-8 col-lg-10">
      <h2 class="d-lg-none d-md-block text-white">Sun weather</h2>
      <li class="nav-item d-none d-md-none d-lg-block">
        <a routerLink="/" class="nav-link"><button type="button" class="btn btn-link text-uppercase">Home</button></a>
      </li>
      <li class="nav-item d-none d-md-none d-lg-block">
        <a routerLink="/sunid" class="nav-link"><button type="button" class="btn btn-link text-uppercase">My identity card</button></a>
      </li>
      <li class="nav-item d-none d-md-none d-lg-block">
        <a routerLink="/events" class="nav-link"><button type="button" class="btn btn-link text-uppercase">My events</button></a>
      </li>
      <li class="nav-item d-none d-md-none d-lg-block">
        <a routerLink="/glossary" class="nav-link"><button type="button" class="btn btn-link text-uppercase shadow-none">Glossary</button></a>
      </li>
      <li class="nav-item d-none d-md-none d-lg-block">
        <a routerLink="/history" class="nav-link"><button type="button" class="btn btn-link text-uppercase">My history</button></a>
      </li>
      <li class="nav-item d-none d-md-none d-lg-block">
        <a routerLink="/missions" class="nav-link"><button type="button" class="btn btn-link text-uppercase">Missions</button></a>
      </li>
      <li class="nav-item d-none d-md-none d-lg-block">
        <a routerLink="/gallery" class="nav-link"><button type="button" class="btn btn-link text-uppercase">Gallery</button></a>
      </li>
    </ul>

<!-- menu grand ecran END-->

<!-- menu burger START mobile-->
<div class="dropdown col-2 offset-sm-4 offset-md-2 dropleft d-lg-none d-md-block ">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg>
  </button>
  <div class="dropdown-menu bg-black" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item text-white text-uppercase" routerLink="/" >Home</a>
    <a class="dropdown-item text-white text-uppercase" routerLink="/sunid" >My identity card</a>
    <a class="dropdown-item text-white text-uppercase" routerLink="/events">Events</a>
    <a class="dropdown-item text-white text-uppercase" routerLink="/glossary">Glossary</a>
    <a class="dropdown-item text-white text-uppercase" routerLink="/history">My history</a>
    <a class="dropdown-item text-white text-uppercase" routerLink="/missions">Missions</a>
    <a class="dropdown-item text-white text-uppercase" routerLink="/gallery">Gallery</a>
  </div>
</div>

<!-- menue burger AND-->
<!-- image display none device tab and phone -->
    <img routerLink="" class="pr-0 col-1 d-none d-md-none d-lg-block" src="https://images-assets.nasa.gov/image/PIA20881/PIA20881~small.jpg"  alt="">
  </nav>
</div>
