/* css Generale */

h1 {
    background-color: black;
    border : 1px solid #C0914F;
    text-align: center
}

/* Style des cartes */
.card
{
    background: rgba(0, 0, 0, 0.7);
    border : 1px solid white;
    color: white;
    padding: 0;
    transition: all 0.5s ease-out;
}

.card:hover
{
    background: rgba(0, 0, 0, 1);
    transition: all 0.5s ease-out;
}


#timeline_bar
{
    background-color : rgb(190, 152, 98);
}

.timeline-img {
    height: 100%;
    width: 10px;

}
