<h1 class="mt-1 offset-md-2 col-md-8 col-12 text-center text-white pb-3 pt-3 border rounded">MY HISTORY</h1>
<div class="row text-white" id="wrapper">
  

  <div class="text-center" id="timeline">
  <div id="timeline_bar">
  </div>
  
  <li>
    <p class="font-weight-bold">0 Millard d'année</p>
    <p>Ma naissance </p>
    <img class="d-none d-md-none d-lg-block pl-4 rounded" src="assets/formation-du-soleil.png" width="250px"/>  
  </li>
  <li>
      <p class="font-weight-bold">1 Millard d'année</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/PIA17669/PIA17669~small.jpg" width="200px"/>  
  </li>
  <li>
      <p class="font-weight-bold">2 Millard d'année</p> 
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001505/GSFC_20171208_Archive_e001505~small.jpg" width="200px"/> 
  </li>
  <li>
      <p class="font-weight-bold">3 Millard d'année</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000393/GSFC_20171208_Archive_e000393~small.jpg" width="200px"/>
  </li>
  <li>
      <p class="font-weight-bold">4 Millard d'année</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001551/GSFC_20171208_Archive_e001551~small.jpg" width="200px"/>
  </li>
  <li>
      <p class="font-weight-bold">~4.5 Millard d'année Maintenant</p>
      
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="assets/lever-soleil-planete.jpg" width="280px"/>
  </li>
  <li>
      <p class="font-weight-bold">5 Millard d'année</p>
      <p>Réchauffement progressif</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001662/GSFC_20171208_Archive_e001662~small.jpg" width="250px"/>
  </li>
  <li>
      <p class="font-weight-bold">6 Millard d'année</p>
      <p>Réchauffement progressif</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/PIA17915/PIA17915~small.jpg" width="170px"/>
  </li>
  <li>
      <p class="font-weight-bold">7 Millard d'année</p>
      <p>Réchauffement progressif</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001435/GSFC_20171208_Archive_e001435~small.jpg" width="180px"/>
  </li>
  <li>
      <p class="font-weight-bold">8 Millard d'année</p>
      <p>Réchauffement progressif</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/PIA22242/PIA22242~small.jpg" width="180px"/>
  </li>
  <li>
      <p class="font-weight-bold">9 Millard d'année</p>
      <p>Réchauffement progressif</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001907/GSFC_20171208_Archive_e001907~small.jpg" width="180px"/>
  </li>
  <li>
      <p class="font-weight-bold">10 Millard d'année</p>
      <p>Geante Rouge </p> 
    <img class="d-none d-md-none d-lg-block pl-4 rounded" src="assets/gante-rouge.jpg" width="250px"/>
  </li>
  <li>
    <p class="font-weight-bold">11 Millard d'année</p>
    <p>Planetary nebula</p>
    <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001465/GSFC_20171208_Archive_e001465~small.jpg" width="175px"/>
  </li>
  <li>
      <p class="font-weight-bold">12 Millard d'année</p>
      <p>Planetary nebula</p>
    <img class="d-none d-md-none d-lg-block pl-4 rounded" src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000195/GSFC_20171208_Archive_e000195~small.jpg" width="250px"/>
  </li>
  <li>
      <p class="font-weight-bold">13 Millard d'année</p>
      <p>white dwarf</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="assets/naine-blanche.jpg" width="250px"/>
  </li>
  <li>
      <p class="font-weight-bold">14 Millard d'année</p>
      <p>white dwarf</p>
      <img class="d-none d-md-none d-lg-block pl-4 rounded" src="assets/naine-blanche.jpg" width="250px"/>
  </li>
  </div>
  
</div>

  