<div class="row text-white" id="wrapper">
  <h1 class="mt-1 col-12 text-center pb-3">MY HISTORY</h1>

  <div id="timeline">
  <div id="timeline_bar">
  </div>
  
  <img class="d-none d-md-none d-lg-block pl-4 rounded" src="assets/formation-du-soleil.png" />
  <li>0 </li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>Maintenant</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  </div>
  
</div>

  