/* css Generale */

h1 {
    background-color: black;
    border : 1px solid #C0914F;
    text-align: center
}

/* Style des cartes */
.card
{
    opacity: 0.8;
    color : white;
    border : 1px solid white;   
}


#timeline_bar
{
    background-color : rgb(190, 152, 98);
}

.timeline-img {
    height: 100%;
    width: 10px;
    
}
