<h2 class="mt-1 offset-md-2 col-md-8 col-12 titre-page py-3 rounded">Missions</h2>

<div class="container">

    <div class="card bg-black text-white">
        <div class="card-header">
          <h3>A Look Back at NASA solar missions : in the 1970s</h3>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">A Look Back at NASA solar missions</h5> -->
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Pioneer_10_Construction.jpg/220px-Pioneer_10_Construction.jpg" alt="Pioneer 10" class="float-right">
          <p class="card-text">The first satellites designed to observe the Sun were NASA's Pioneers 5, 6, 7, 8 and 9, which were launched between 
            1959 and 1968. These probes orbited the Sun at a distance similar to that of Earth, and made the first detailed measurements
            of the solar wind and the solar magnetic field. Pioneer 9 operated for a particularly long time, transmitting data until May 1983.</p>

            <p>In the 1970s, two Helios spacecraft and the Skylab Apollo Telescope Mount provided scientists with significant new data on solar 
            wind and the solar corona. The Helios 1 and 2 probes were U.S.–German collaborations that studied the solar wind from an orbit 
            carrying the spacecraft inside Mercury's orbit at perihelion. The Skylab space station, launched by NASA in 1973, included a 
            solar observatory module called the Apollo Telescope Mount that was operated by astronauts resident on the station.Skylab made 
            the first time-resolved observations of the solar transition region and of ultraviolet emissions from the solar corona. Discoveries 
            included the first observations of coronal mass ejections, then called "coronal transients", and of coronal holes, now known to be 
            intimately associated with the solar wind.</p>
            
            <!-- <a href="#" class="btn btn-primary">Glossary</a> -->
        </div>
      </div>
</div>

<br>

<div class="container">
    <div class="card bg-black text-white">
        <div class="card-header">
        <h3>One of the most important solar missions : the Solar and Heliospheric Observatory (1995-2018)</h3>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">One of the most important solar missions : the Solar and Heliospheric Observatory (1995-2018)</h5> -->
          <p class="card-text">One of the most important solar missions to date has been the Solar and Heliospheric Observatory, 
            jointly built by the European Space Agency and NASA and launched on 2 December 1995. Originally intended to serve a two-year mission, 
            a mission extension through 2012 was approved in October 2009.It has proven so useful that a follow-on mission, the Solar Dynamics 
            Observatory (SDO), was launched in February 2010. Situated at the Lagrangian point between Earth and the Sun (at which the gravitational 
            pull from both is equal), SOHO has provided a constant view of the Sun at many wavelengths since its launch.Besides its direct solar observation, 
            SOHO has enabled the discovery of a large number of comets, mostly tiny sungrazing comets that incinerate as they pass the Sun.
  
  
            A solar prominence erupts in August 2012, as captured by SDO <img src="https://c1.staticflickr.com/4/3783/10840895933_5b45e6194c_b.jpg" height="252" width="370" alt="solar prominence erupts" class="float-right">
  
            All these satellites have observed the Sun from the plane of the ecliptic, and so have only observed its equatorial regions in detail. 
            The Ulysses probe was launched in 1990 to study the Sun's polar regions. It first travelled to Jupiter, to "slingshot" into an orbit that 
            would take it far above the plane of the ecliptic. Once Ulysses was in its scheduled orbit, it began observing the solar wind and magnetic 
            field strength at high solar latitudes, finding that the solar wind from high latitudes was moving at about 750 km/s, which was slower than 
            expected, and that there were large magnetic waves emerging from high latitudes that scattered galactic cosmic rays.
              
            Elemental abundances in the photosphere are well known from spectroscopic studies, but the composition of the interior of the Sun is more 
            poorly understood. A solar wind sample return mission, Genesis, was designed to allow astronomers to directly measure the composition of solar material.
            
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Giant_prominence_on_the_sun_erupted.jpg/300px-Giant_prominence_on_the_sun_erupted.jpg" height="152" width="270" alt="solar prominence erupts" class="float-left">

            The Solar Terrestrial Relations Observatory (STEREO) mission was launched in October 2006. Two identical spacecraft were launched into orbits that cause 
            them to (respectively) pull further ahead of and fall gradually behind Earth. This enables stereoscopic imaging of the Sun and solar phenomena, such as coronal 
            mass ejections.
              
            <!-- IMG -->
            The Indian Space Research Organisation has scheduled the launch of a 100 kg satellite named Aditya for 2017–18. Its main instrument will be a coronagraph 
            for studying the dynamics of the Solar corona.</p>
          
          <!-- <a href="#" class="btn btn-primary">Glossary</a> -->
      </div>
    </div>
</div>

<br>

<div class="container">
  <div class="card bg-black text-white">
      <div class="card-header">
          <h3>Missions in development</h3>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Missions in development</h5> -->
        <p class="card-text">
            <li><b><u>Space Environment Testbeds (SET)</u></b></li>
            <b>Instruments on DSX Mission / Launch Date – October 2018</b><br>
            <b>Phase D – System Assembly, Integration & Test, Launch</b><br>
            <!--<img src="https://lws-set.gsfc.nasa.gov/images/set-index-image-03052015.jpg" alt="Space" class="float-right img-fluid">-->
            <br>

            <P>The Space Environment Testbeds (SET) Project performs flight and ground investigations to address the Living With a Star (LWS) Program goal of understanding 
                how the Sun/Earth interactions affect humanity. The SET Project is the element of the LWS Program that characterizes the space environment and its impact on 
                hardware performance in space. The project goal for SET is to improve the engineering approach to accommodation and/or mitigation of the effects of solar 
                variability on spacecraft design and operations.</P>
            <br>
            <br>   
                  
          <li><b><u>Parker Solar Probe</u></b></li>
          <b>Launch Date – August 2018 </b><br>
          <b>Phase D – System Assembly, Integration & Test, Launch</b><br>
          <br>
          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dLwdS3zBGhg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
          Parker Solar Probe will be an extraordinary and historic mission, exploring what is arguably the last region of the solar system to be visited by a spacecraft, 
          the Sun’s outer atmosphere or corona as it extends out into space. Approaching as close as 9.5 solar radii* (8.5 solar radii above the Sun’s surface), Parker Solar 
          Probe will repeatedly sample the near-Sun environment, revolutionizing our knowledge and understanding of coronal heating and of the origin and evolution of the 
          solar wind and answering critical questions in heliophysics that have been ranked as top priorities for decades. Moreover, by making direct, in-situ measurements 
          of the region where some of the most hazardous solar energetic particles are energized, Parker Solar Probe will make a fundamental contribution to our ability to 
          characterize and forecast the radiation environment in which future space explorers will work and live.
          <img src="https://lws.gsfc.nasa.gov/images/solar_probe_plus_mission_226x170px.png" alt="Parker Solar Probe" class="float-right">
          <br>
          <br>
          <br>
          <br>   
          
          <li><b><u>Solar Orbiter Collaboration</u></b></li>
          <b>Launch Date – February 2020</b><br>
          <b>Phase D – System Assembly, Integration & Test, Launch</b><br>
          <br>
          Solar Orbiter is a joint ESA-NASA collaboration that will address the central question of heliophysics: How does the Sun create and control the heliosphere? This primary, overarching scientific objective can be broken down into four interrelated scientific questions:

          How and where do the solar wind plasma and magnetic field originate in the corona?
          How do solar transients drive heliospheric variability?
          How do solar eruptions produce energetic particle radiation that fills the heliosphere?
          How does the solar dynamo work and drive connections between the Sun and the heliosphere?
          These are outstanding fundamental questions in solar and heliophysics today. By addressing them, Solar Orbiter will make major breakthroughs in our understanding of how the 
          inner solar system works and is driven by solar activity.
          
          To answer these questions, it is essential to make in-situ measurements of the solar wind plasma, fields, waves, and energetic particles close enough to the Sun that 
          they are still relatively pristine and have not had their properties modified by subsequent transport and propagation processes. This is one of the fundamental drivers 
          for the Solar Orbiter mission, which will approach the Sun to 0.28 AU.
          
          <img src="https://lws.gsfc.nasa.gov/images/solar_orbiter_mission.jpg" class="float-left">Solar Orbiter is a three-axis stabilized spacecraft equipped with instruments for both in-situ measurements and remote-sensing observations. It will be placed into an 
          elliptical orbit about the Sun with perihelion as close as 0.28 AU. After an in-ecliptic phase of perihelion passes where it is nearly corotating with the Sun, Solar 
          Orbiter will use multiple Venus gravity assist maneuvers to move the inclination of its orbit to progressively higher heliolatitudes, reaching ∼34° by the end of its 
          extended mission.
          
          NASA is contributing two instruments to the collaboration, as well as an expendable launch vehicle. The two U.S. contributions are SoloHI, a wide-field heliospheric 
          imager provided by the Naval Research Laboratory; and a Heavy Ion Sensor (part of the Solar Wind Analyzer) provided by Southwest Research Institute. ESA is providing 
          the spacecraft, built by Astrium, U.K.; and European nations are providing the remainder of the ten instrument payload. The launch date from Kennedy Space Center is 
          currently scheduled for 2017.
          
          Relating these in-situ measurements back to their source regions and structures on the Sun requires simultaneous, high-resolution imaging and spectroscopic observations 
          of the Sun in and out of the ecliptic plane. The resulting combination of in-situ and remote-sensing instruments on the same spacecraft, together with the new, inner-heliospheric 
          perspective, distinguishes Solar Orbiter from all previous and current missions, enabling breakthrough science which can be achieved in no other way. 
          
          <!-- <a href="#" class="btn btn-primary">Glossary</a> -->
      </div>
    </div>
</div>

