input
{
    background-color : black;
    color : white;
    border : 1px solid #C0914F;
    padding : 0.5rem;
    font-size : 1.5rem;
}

img
{
    border : 1px solid #C0914F;
}

a
{
    color : #C0914F;
}