input
{
    background-color : black;
    color : white;
    border : 1px solid #C0914F;
    padding : 0.5rem;
    font-size : 1.5rem;
}

img
{
    border : 1px solid #C0914F;
}

a
{
    color : #C0914F;
}

.card
{
    background-color : black;
    text-align : center;
}

@media (min-width: 1px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}