<h2 class="mt-1 offset-md-2 col-md-8 col-12 titre-page py-3 rounded">Gallery</h2>

<div class="col-12 text-center my-4">
  <input class="mr-2" type="text" [(ngModel)]="recherche" (keyup.enter)="callApi()" />
  <input type="submit" value="Search" (click)="callApi()" />
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-md-6 col-xl-4" *ngFor="let image of getImages()">
      <a data-fancybox="gallery" href="{{ image.imgBig }}">
        <img class="img-fluid" src="{{ image.imgPreview }}" alt="image from API" />
      </a>
    </div>

  </div>
</div>
