<div class="container-fluid p-0 mb-5">

    <h2 class="mt-1 offset-md-2 col-md-8 col-12 py-3 rounded titre-page">Picture(s) of the day</h2>
    
    <div id="displayText" class="d-none d-md-block">
        <p class="text-white">
            Display/Hide text 
            <input class="d-md-inline-block" type="checkbox" (click)="setDisplay()" checked />
        </p>
    </div>

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li *ngFor="let apod of apods" data-target="#carousel" attr.data-slide-to="{{apod.id}}"></li>
        </ol>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img id="img-carousel-0" class="d-block w-100" src="{{ today.url }}" alt="First slide">

                <div class="carousel-caption d-none d-md-block pb-5">
                    <h1>{{ today.title }}</h1>
                    <cite>{{ today.date | date : 'dd-MM-yyyy' }}</cite>
                    <blockquote>{{ today.explanation }}</blockquote>
                </div>
            </div>

            <div class="carousel-item" *ngFor="let apod of apods">
                <img id="{{ 'img-carousel-' + apod.id }}" class="d-block w-100" src="{{ apod.url }}" attr.alt="{{apod.id}} + ' slide'">

                <div class="carousel-caption d-none d-md-block pb-5">
                    <h1>{{ apod.title }}</h1>
                    <cite>{{ apod.date | date : 'dd-MM-yyyy' }}</cite>
                    <blockquote>{{ apod.explanation }}</blockquote>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- <app-evenement></app-evenement> -->