<h2 class="mt-1 offset-md-2 col-md-8 col-12 titre-page py-3 rounded">Glossary</h2>

<div class="container text-center my-4">
  <input class="form-control" type="text" [(ngModel)]="recherche" placeholder="search" />
</div>

<div id="accordion" class="container">

  <div class="card-columns">

    <div *ngFor="let definition of definitions | glossarySort:recherche">
      <div class="card bg-black text-white">
        <div class="card-header bg-black" id="{{ 'heading' + definition.id }}" data-toggle="collapse" [attr.data-target]="'#collapse' + definition.id" aria-expanded="true" attr.aria-controls="{{ 'collapse' + definition.id }}">
            <h3 class="mb-0">
              <button class="btn btn-link break-word text-uppercase d-inline-block" >
                {{ definition.name }}
              </button>
            </h3>
        </div>

        <div id="{{ 'collapse' + definition.id }}" class="collapse bg-light-black" attr.aria-labelledby="{{ 'heading' + definition.id }}" data-parent="#accordion">
          <div class="card-body definition">
            <p>{{ definition.description }}</p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
