.definition
{
    /*font-family: "Times New Roman", Times, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size : 1.3em;
}

/* Style des cartes */
.card
{
    opacity: 0.8;
    color : white;
    border : 1px solid white;
    transition : all 0.6s ease-in-out;
}

.card-header
{
    border-bottom : 1px solid white;
    transition : all 0.6s ease-in-out;
    cursor: pointer;
}

@media (min-width: 992px) {
    .card-header:hover button
    {
        transform : translate(3vw); 
    }
}

.card:hover, .card:hover .card-header
{
    opacity: 1;
    border-color : #C0914F; 
}

.break-word
{
    white-space: pre-line;
}

.bg-light-black
{
    background-color : rgb(40,40,40);
}

.btn-link
{
    color : white;
}

.btn
{
    text-decoration : none;
}

/* Décoration bouton par défaut */
button
{
    text-decoration : none;
    font-size : 1em;
    background-color : #000;
    color : #FFF;
    font-weight : bold;
    transition : all 1s ease-in-out;
}

/* Bouton afin de déplier la définition */
.card:hover button
{
    background-color : #555;
    border : 1px solid #c0914f;
    color : #c0914f;
}

/* Gère l'affichage des cartes pour petits écrans */
@media (min-width: 1px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/* Gère l'affichage des cartes pour moyens écrans */
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
