/* You can add global styles to this file, and also import other style files */
body
{
    background-image : url('assets/fond.jpg');
}

@font-face {
    font-family : 'Optimus';
    src : url('/assets/font/Optimus.otf') format('truetype');
}

h1, h2, h3
{
    font-family : 'Optimus' !important; 
}