.bg-black
{
    color : #FFFFFF;
    background-color : #000000; 
}

.card
{
    margin-bottom : 4em;
    text-align : justify;
    opacity : 0.75;
    border : 2px solid white;
    transition : all 1s ease-in-out; 
}

.card p
{
    font-family : 'Times New Roman', Times, serif;
    font-size : 1.35em;
}

.card img
{
    height : auto;
    width : 30%;
    margin-left : 2%;
}

.card:hover img
{
    border : 1px solid #c0914f;
    transition: all 1s;
}

.card a
{
    text-align : center;
    color : #c0914f;
}

.card-header
{
    font-size : 1.3em;
    font-weight : bold;

    border-bottom : 1px solid white;
    transition : border-bottom 1s ease-in-out;
}

.card:hover
{
    opacity : 1;
    border : 2px solid #c0914f;
}

.card:hover .card-header
{
    border-bottom : 1px solid #c0914f;
}