.card
{
    margin-bottom : 2rem;
    /*text-align : justify;*/
    background: rgba(0, 0, 0, 0.7);
    border : 1px solid white;
    transition : all 0.5s ease-in;
}

.card p
{
    font-family : 'Times New Roman', Times, serif;
    font-size : 1.25rem;
}

.card img
{
    height : auto;
    width : 30%;
    margin-left : 2%;
}

.card:hover img
{
    border : 1px solid #c0914f;
    transition: all 0.5s ease-out;
}

.card a
{
   font-family: 'Orbitron' !important;
    text-align : center;
    color : #c0914f;
}

.card-header
{
    font-weight : bold;
    border-bottom : 1px solid white;
    transition : border-bottom 0.5s ease-in-out;
}

.card-header h3 {
    font-size : 1.6rem;
    margin-bottom : 0;
}

.card:hover
{
    background: rgba(0, 0, 0, 1);
    border : 1px solid #c0914f;
}

.card:hover .card-header
{
    border-bottom : 1px solid #c0914f;
}

@media (min-width: 1px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
