<div class="container-fluid">
    <div class=" card-columns">
        <div *ngFor="let event of evenements">
            <div class="card bg-black">
                <div class="card-header">
                    {{ event.getNom() }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Last date : {{ event.getDate() }}</h5>

                    <img class="d-none d-md-inline float-right img-fluid" src="{{ event.getImageUrl() }}" />

                    <p class="card-text">
                        Details : {{ event.getDetails() }}
                    </p>

                    <p class="card-text">
                        Definition : <q>{{ event.getDefinition() }}</q>
                    </p>

                    <a class="d-block d-md-none" target="_blank" [href]="event.getImageUrl()">Lien vers image</a>
                </div>
            </div>
        </div>
    </div>
</div>
