body, h5
{
    font-family : 'Optimus';
}

.bg-black
{
    color : #FFFFFF;
    background-color : #000000;
}

.card
{
    margin-bottom : 4em;
    text-align : justify;
    opacity : 0.75;
    border : 2px solid white;
    transition : all 1s ease-in-out;
}

.card p
{
    font-family : 'Times New Roman', Times, serif;
    font-size : 1.35em;
}

.card img
{
    height : auto;
    width : 30%;
    margin-left : 2%;
}

.card:hover img
{
    border : 1px solid #c0914f;
    transition: all 1s;
}

.card a
{
    text-align : center;
    color : #c0914f;
}

.card-header
{
    font-size : 1.3em;
    font-weight : bold;

    border-bottom : 1px solid white;
    transition : border-bottom 1s ease-in-out;
}

.card:hover
{
    opacity : 1;
    border : 2px solid #c0914f;
}

.card:hover .card-header
{
    border-bottom : 1px solid #c0914f;
}

@media (min-width: 1px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
